<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.png" />
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Care from COVID-19</title>
</head>
<body>
  <header class="text-gray-700 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-white-500 rounded-full" viewBox="0 0 24 24">
            <image href="/static/favicon.png" x="0" y="0" height="24px" width="24px"/>
        </svg>
        <span class="ml-3 text-xl">Care from COVID-19</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-gray-900" href="/">Home</a>
        <a class="mr-5 hover:text-gray-900" href="/dologin">Sign in</a>
        <a class="mr-5 hover:text-gray-900" href="/contact_us">Contact us</a>
        <a class="mr-5 hover:text-orange-500" href="/logout">Logout</a>
      </nav> 
    </div>
  </header>
    <section class="text-gray-700 body-font">
        <br>
        {% if (msg != "___"): %}
        <div class="msg1 text-black-600 bg-orange-200" style = "text-align:center;border-top:2px solid grey">( <b>DISEASE NAME: </b> {{ msg1 }} )<br>( <b>PREDICTION ACCURACY: </b>{{ msg2 }} )</div>
        <div class="msg3 text-black-600 bg-orange-200" style = "text-align:center;border-top:2px solid grey;border-top-style: dashed;"><b>ABOUT DISEASE: </b><br>{{ msg3 }}</div>
        <div class="msg4 text-black-600 bg-orange-200" style = "text-align:center;border-bottom:2px solid grey;border-top:2px solid grey;border-top-style: dashed;"><b>PREVENTIONS: </b><br>{{ msg4 }}</div><br>
        {% endif %}
        <div class = "msg5"> {{ msg5 }}</div>
        <div class="container px-5 py-15 mx-auto flex flex-wrap items-center">
          <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
            <h1 class="title-font font-medium text-3xl text-gray-900">Symptoms Checker</h1>
            <p class="leading-relaxed mt-4">Select atleast one symptom for disease prediction</p>
            <a href = "/healthrecord" class="mr-5 text-orange-600 hover:text-gray-900">Check your previous symptoms</a>
            <!--<a href = "{{url_for('dologin')}}" style = "color:orangered">already have an account?</a>-->
          </div>
          <div class="lg:w-2/6 md:w-1/2 bg-orange-200 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
            <h2 class="text-gray-900 text-lg font-medium title-font mb-5" align = "center">Use "ctrl+symptoms" for multiple symptoms selection</h2>
              <form action="{{ url_for('symptoms_checker') }}" method="post" autocomplete="off" align = "center">
                <!--<div class="msg" align = "center">{{ msg }}</div>-->
                  <select class="bg-white rounded border border-gray-400 focus:outline-none focus:border-orange-500 text-base px-4 py-2 mb-4 rounded-lg p-1 flex flex-col md:ml-auto w-full mt-10 md:mt-0" id="symptoms" name="symptoms" size = "6" multiple>
                      <option value="back_pain">back_pain</option>
                      <option value="constipation">constipation</option>
                      <option value="abdominal_pain">abdominal_pain</option>
                      <option value="diarrhoea">diarrhoea</option>
                      <option value="mild_fever">mild_fever</option>
                      <option value="high_fever">high_fever</option>
                      <option value="yellow_urine">yellow_urine</option>
                      <option value="yellowing_of_eyes">yellowing_of_eyes</option>
                      <option value="acute_liver_failure">acute_liver_failure</option>
                      <option value="fluid_overload">fluid_overload</option>
                      <option value="swelling_of_stomach">swelling_of_stomach</option>
                      <option value="swelled_lymph_nodes">swelled_lymph_nodes</option>
                      <option value="malaise">malaise</option>
                      <option value="blurred_and_distorted_vision">blurred_and_distorted_vision</option>
                      <option value="phlegm">phlegm</option>
                      <option value="throat_irritation">throat_irritation</option>
                      <option value="redness_of_eyes">redness_of_eyes</option>
                      <option value="sinus_pressure">sinus_pressure</option>
                      <option value="runny_nose">runny_nose</option>
                      <option value="congestion">congestion</option>
                      <option value="chest_pain">chest_pain</option>
                      <option value="weakness_in_limbs">weakness_in_limbs</option>
                      <option value="fast_heart_rate">fast_heart_rate</option>
                      <option value="pain_during_bowel_movements">pain_during_bowel_movements</option>
                      <option value="pain_in_anal_region">pain_in_anal_region</option>
                      <option value="bloody_stool">bloody_stool</option>
                      <option value="irritation_in_anus">irritation_in_anus</option>
                      <option value="dizziness">dizziness</option>
                      <option value="neck_pain">weakness_in_limbs</option>
                      <option value="cramps">cramps</option>
                      <option value="bruising">bruising</option>
                      <option value="swollen_legs">swollen_legs</option>
                      <option value="obesity">obesity</option>
                      <option value="swollen_blood_vessels">swollen_blood_vessels</option>
                      <option value="puffy_face_and_eyes">puffy_face_and_eyes</option>
                      <option value="enlarged_thyroid">enlarged_thyroid</option>
                      <option value="brittle_nails">brittle_nails</option>
                      <option value="swollen_extremeties">swollen_extremeties</option>
                      <option value="excessive_hunger">excessive_hunger</option>
                      <option value="extra_marital_contacts">extra_marital_contacts</option>
                      <option value="drying_and_tingling_lips">drying_and_tingling_lips</option>
                      <option value="slurred_speech">slurred_speech</option>
                      <option value="knee_pain">knee_pain</option>
                      <option value="hip_joint_pain">hip_joint_pain</option>
                      <option value="muscle_weakness">muscle_weakness</option>
                      <option value="stiff_neck">stiff_neck</option>
                      <option value="swelling_joints">swelling_joints</option>
                      <option value="movement_stiffness">movement_stiffness</option>
                      <option value="spinning_movements">spinning_movements</option>
                      <option value="loss_of_balance">loss_of_balance</option>
                      <option value="unsteadiness">unsteadiness</option>
                      <option value="weakness_of_one_body_side">weakness_of_one_body_side</option>
                      <option value="loss_of_smell">loss_of_smell</option>
                      <option value="bladder_discomfort">bladder_discomfort</option>
                      <option value="foul_smell_of_urine">foul_smell_of_urine</option>
                      <option value="continuous_feel_of_urine">continuous_feel_of_urine</option>
                      <option value="passage_of_gases">passage_of_gases</option>
                      <option value="internal_itching">internal_itching</option>
                      <option value="toxic_look_(typhos)">toxic_look_(typhos)</option>
                      <option value="depression">depression</option>
                      <option value="irritability">irritability</option>
                      <option value="muscle_pain">muscle_pain</option>
                      <option value="altered_sensorium">altered_sensorium</option>
                      <option value="red_spots_over_body">red_spots_over_body</option>
                      <option value="belly_pain">belly_pain</option>
                      <option value="abnormal_menstruation">abnormal_menstruation</option>
                      <option value="dischromic_patches">dischromic_patches</option>
                      <option value="watering_from_eyes">watering_from_eyes</option>
                      <option value="increased_appetite">increased_appetite</option>
                      <option value="polyuria">polyuria</option>
                      <option value="family_history">family_history</option>
                      <option value="mucoid_sputum">mucoid_sputum</option>
                      <option value="rusty_sputum">rusty_sputum</option>
                      <option value="lack_of_concentration">lack_of_concentration</option>
                      <option value="visual_disturbances">visual_disturbances</option>
                      <option value="receiving_blood_transfusion">receiving_blood_transfusion</option>
                      <option value="receiving_unsterile_injections">receiving_unsterile_injections</option>
                      <option value="coma">coma</option>
                      <option value="stomach_bleeding">stomach_bleeding</option>
                      <option value="distention_of_abdomen">distention_of_abdomen</option>
                      <option value="history_of_alcohol_consumption">history_of_alcohol_consumption</option>
                      <option value="fluid_overload">fluid_overload</option>
                      <option value="blood_in_sputum">blood_in_sputum</option>
                      <option value="prominent_veins_on_calf">prominent_veins_on_calf</option>
                      <option value="palpitations">palpitations</option>
                      <option value="painful_walking">painful_walking</option>
                      <option value="pus_filled_pimples">pus_filled_pimples</option>
                      <option value="blackheads">blackheads</option>
                      <option value="scurring">scurring</option>
                      <option value="skin_peeling">skin_peeling</option>
                      <option value="silver_like_dusting">silver_like_dusting</option>
                      <option value="small_dents_in_nails">small_dents_in_nails</option>
                      <option value="blister">blister</option>
                      <option value="nasal_congestion">nasal_congestion</option>
                      <option value="difficulty_in_breathing">difficulty_in_breathing</option>
                      <option value="tiredness">tiredness</option>
                      <option value="red_sore_around_nose">red_sore_around_nose</option>
                      <option value="yellow_crust_ooze">yellow_crust_ooze</option>
                      <option value="cough">cough</option>
                  </select>
                    <button class="text-white bg-orange-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Analyze symptoms</button>
              </form>
            <p class="text-xs text-gray-500 mt-3" align = "center">We understand your concern for the privacy</p>
          </div>
  
        </div>
      </section>

      
</body>
</html>